{%extends 'base.html'%}
   {% block content %}
{%load static%}
<br><br><br><br>
<!-- ...:::: Start Cart Section:::... -->
<main class="cart-section" id="cart-list">
<!-- Start Cart Table -->
<div class="cart-table-wrapper" data-aos="fade-up" data-aos-delay="0">
<div class="container">
    <div class="row">
    <!-- User Quick Action Form -->
                <!-- User Quick Action Form -->
        <div class="col-12">
            <div class="table_desc">
                <div class="table_page table-responsive">
                    <table>
                        <!-- Start Cart Table Head -->
                        <thead>
                            <tr>
                                <th class="product_remove">Update</th>
                                <th class="product_remove">Delete</th>
                                <th class="product_thumb">Image</th>
                                <th class="product_name">Product</th>
                                <th class="product-price">Price</th>
                                <th class="product_quantity">Quantity</th>
                                <th class="product_total">Total</th>
                            </tr>
                        </thead> <!-- End Cart Table Head -->
                        <tbody>
                            <!-- Start Cart Single Item-->
                            {% if cart_data %}
                            {% for id,item in cart_data.items %}
                            <tr>
                             <td class="product_remove">
                                    <button  class="btn btn-block btn-lg btn-black-default-hover"
                                         id="update-item-product" data-product="{{ id }}"><i class="fa fa-refresh"></i></button>
                                </td>
                                <td class="product_remove">
                                    <button  class="btn btn-block btn-lg btn-black-default-hover"
                                         id="delete-item-product" data-product="{{ id }}"><i class="fa fa-trash-o"></i></button>
                                </td>
                                <td class="product_thumb">
                                    <a href="{% url "productdetail" item.slug_category item.slug %}" style="width: 20px;height: 20px;">
                                    {% for image in item.media %}
                                        <img src="{{ image.file }}" >

                                    {% endfor %}</a>
                                </td>
                                <td class="product_name"><a href="">{{ item.name }}</a></td>
                                <td class="product-price">${{ item.price }}</td>
                                <td class="product_quantity"><label>Quantity</label> <input min="1"
                                        max="100" value="{{ item.qty }}" type="number" class="product-qty-{{ id }}"></td>
                                <td class="product_total">${{ item.total_price }}</td>
                            </tr> <!-- End Cart Single Item-->
                            {% endfor %}
                            {% endif %}
                            <!-- Start Cart Single Item-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div> <!-- End Cart Table -->

<!-- Start Coupon Start -->
<div class="cart-table-wrapper" data-aos="fade-up" data-aos-delay="0">
<div class="container">
    <div class="row">
        <div class="table_page table-responsive">
            <div class="coupon_code right" data-aos="fade-up" data-aos-delay="400">
                <h3>Cart Totals</h3>
                <div class="coupon_inner">
                    <div class="cart_subtotal">
                        <p>Subtotal</p>
                        <p class="cart_amount">${{ total_amount}}</p>
                    </div>
                    <div class="cart_subtotal">
                        <p>DISCOUNT</p>
                        <p class="cart_amount">${{ total_discount_amount}}</p>
                    </div>
                    <hr style="height: 5px;color: black">

                    <div class="cart_subtotal">
                        <p>Total</p>
                        <p class="cart_amount">${{ cart_total_amount}}</p>
                    </div>
                    <div class="checkout_btn">
                          {% if user.is_authenticated %}
                        <a href="{% url "checkout" %}" class="btn btn-md btn-golden">Proceed to Checkout</a>
                        {% else %}
                        <a href="{% url 'signup/in' %}" class="btn btn-md btn-golden">Proceed to Checkout</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div> <!-- End Coupon Start -->
</main> <!-- ...:::: End Cart Section:::... -->
   {% endblock %}
