{%extends 'base.html'%}
   {% block content %}
{%load static%}

    <!-- ...::::Start About Us Center Section:::... -->
    <div class="empty-cart-section section-fluid" id="cart-list">
        <div class="emptycart-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1 col-xl-6 offset-xl-3">
                        <div class="emptycart-content text-center">
                            <div class="image">
                                <img class="img-fluid" src="{% static "images/pay.png" %}" alt="">
                            </div>
                            <h4 class="title">order add.</h4>
                            <h6 class="sub-title">please pay pal.</h6>
                            <a href="{% url "order-confirm" id %}" class="btn btn-lg btn-golden">paypal</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...::::End  About Us Center Section:::... -->

{% endblock %}
