{%extends 'base.html'%}
{% block content %}
{%load static%}
  <!-- Start Company Logo Section -->
<div class="company-logo-section section-top-gap-100 section-fluid">
        <h1 class="section-title" style="margin-left: 40%;border: #2f3239;">Category</h1>
    <br><br>
    <div class="company-logo-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="company-logo-slider default-slider-nav-arrow">
                        <!-- Slider main container -->
                        <div class="swiper-container company-logo-slider">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Start Company Logo Single Item -->
                                {% for item in itemcategory %}
                                    <a href="{% url "subcategorydetail" item.parent.slug item.slug %}">{{ item.title }}<img src="{{ item.image.url }}"></a>
                                <div class="company-logo-single-item swiper-slide">
                                    <div class="image"><img class="img-fluid" src="{{item.image}}" alt=""></div>
                                </div>
                                {% endfor %}
                                <!-- End Company Logo Single Item -->
                            </div>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev d-none d-md-block"></div>
                        <div class="swiper-button-next d-none d-md-block"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br>
<!-- ...::::  z Start Shop Section:::... -->
<div class="shop-section">
<div class="container">
    <div class="row flex-column-reverse flex-lg-row">
        <div class="col-lg-3">
            <!-- Start Sidebar Area -->
            <div class="siderbar-section" data-aos="fade-up" data-aos-delay="0">
                <!-- Start Single Sidebar Widget -->
                <div class="sidebar-single-widget">
                    <h6 class="sidebar-title">CATEGORIES</h6>
                    <div class="sidebar-content">
                        <ul class="sidebar-menu">
                            <li>
                                <ul class="sidebar-menu-collapse">
                                    <!-- Start Single Menu Collapse List -->
                                    <li class="sidebar-menu-collapse-list">
                                        <div class="accordion">
                                            {% for cat in category %}
                                            <a href="{% url "categorydetail" cat.slug %}" class="accordion-title collapsed"
                                                data-bs-toggle="collapse" data-bs-target="#men-fashion"
                                                aria-expanded="false">{{ cat.title }} <i
                                                    class="ion-ios-arrow-right"></i></a>
                                            <div id="men-fashion" class="collapse">
                                                {% for subcat in cat.children.all %}
                                                <ul class="accordion-category-list">
                                                    <li><a href="{% url "subcategorydetail" cat.slug subcat.slug %}">{{ subcat.title }}</a></li>
                                                </ul>
                                                {% endfor %}
                                            {% endfor %}
                                            </div>
                                        </div>
                                    </li> <!-- End Single Menu Collapse List -->
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div> <!-- End Single Sidebar Widget -->
                <!-- Start Single Sidebar Widget -->
                <div class="sidebar-single-widget">
                    <h6 class="sidebar-title">FILTER BY PRICE</h6>
                    <div class="sidebar-content">
                        <div id="slider-range"></div>
                        <div class="filter-type-price">
                            <label for="amount">Price range:</label>
                            <input type="text" id="amount">
                        </div>
                    </div>
                </div> <!-- End Single Sidebar Widget -->
                <!-- Start Single Sidebar Widget -->
             <!-- Start Single Sidebar Widget -->
                <div class="sidebar-single-widget">
                    <h6 class="sidebar-title">brand</h6>
                    <div class="sidebar-content">
                        <ul class="sidebar-menu">
                            <li>
                                <ul class="sidebar-menu-collapse">
                                    <!-- Start Single Menu Collapse List -->
                                    <li class="sidebar-menu-collapse-list">
                                        <div class="accordion">
                                            {% for brand in brands %}
                                            <a href="" class="accordion-title collapsed"
                                                data-bs-toggle="collapse" data-bs-target="#men-fashion"
                                                aria-expanded="false">{{ brand.name }} </a>
                                          {% endfor %}
                                        </div>
                                    </li> <!-- End Single Menu Collapse List -->
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div> <!-- End Single Sidebar Widget -->
                <!-- Start Single Sidebar Widget -->
                <div class="sidebar-single-widget">
                    <h6 class="sidebar-title">SELECT BY COLOR</h6>
                    <div class="sidebar-content">
                        <div class="filter-type-select">
                            <ul>
                                <li>
                                    <label class="checkbox-default" for="black">
                                        <input type="checkbox" id="black">
                                        <span>Black (6)</span>
                                    </label>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div> <!-- End Single Sidebar Widget -->
                <!-- Start Single Sidebar Widget -->
                <div class="sidebar-single-widget">
                    <h6 class="sidebar-title">Tag products</h6>
                    <div class="sidebar-content">
                        <div class="tag-link">
                            <a href="#">asian</a>
                        </div>
                    </div>
                </div> <!-- End Single Sidebar Widget -->
                <!-- Start Single Sidebar Widget -->
            </div> <!-- End Sidebar Area -->
        </div>
        <div class="col-lg-9">
            <!-- Start Shop Product Sorting Section -->
            <div class="shop-sort-section">
                <div class="container">
                    <div class="row">
                        <!-- Start Sort Wrapper Box -->
                        <div class="sort-box d-flex justify-content-between align-items-md-center align-items-start flex-md-row flex-column"
                            data-aos="fade-up" data-aos-delay="0">
                            <!-- Start Sort tab Button -->
                            <div class="sort-tablist d-flex align-items-center">
                                <ul class="tablist nav sort-tab-btn">
                                    <li><a class="nav-link active" data-bs-toggle="tab"
                                            href="#layout-3-grid"><img src="{% static "images/icon/bkg_grid.png" %}"
                                                alt=""></a></li>
                                    <li><a class="nav-link" data-bs-toggle="tab" href="#layout-list"><img
                                                src="{% static "images/icon/bkg_list.png" %}" alt=""></a></li>
                                </ul>
                                <!-- Start Page Amount -->
                            </div> <!-- End Sort tab Button -->
                            <!-- Start Sort Select Option -->
                            <div class="sort-select-list d-flex align-items-center">
                                <label class="mr-2">Sort By:</label>
                                <form action="#">
                                    <fieldset>
                                        <select name="speed" id="speed">
                                            <option>Sort by average rating</option>
                                            <option>Sort by popularity</option>
                                        </select>
                                    </fieldset>
                                </form>
                            </div> <!-- End Sort Select Option -->
                        </div> <!-- Start Sort Wrapper Box -->
                    </div>
                </div>
            </div> <!-- End Section Content -->

            <!-- Start Tab Wrapper -->
            <div class="sort-product-tab-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="tab-content tab-animate-zoom">
                                <!-- Start Grid View Product -->
                                <div class="tab-pane active show sort-layout-single" id="layout-3-grid">
                                        <div class="col-xl-4 col-sm-6 col-12">
                                            <!-- Start Product Default Single Item -->
                                            {% for product in productlist %}
                                            <div class="product-default-single-item product-color--golden"
                                                data-aos="fade-up" data-aos-delay="200">
                                                <div class="image-box">
                                                    <a href="{% url "productdetail" product.category.slug product.slug %}" class="image-link">
                                                        {% for m in media %}
                                                        <img src="{{ m.file.url }}">
                                                            {% endfor %}

                                                    </a>
                                                    <div class="action-link">
                                                        <div class="action-link-left">
                                                            <a href="{% url "productdetail" product.category.slug product.slug %}" style="color: white">View Detail</a>
                                                        </div>
                                                        <div class="action-link-right">
                                                            <a href="#" data-bs-toggle="modal"
                                                                data-bs-target="#modalQuickview"><i
                                                                    class="icon-magnifier"></i></a>
                                                            <a href=""><i
                                                                    class="icon-heart"></i></a>
                                                            <a href=""><i
                                                                    class="icon-shuffle"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <div class="content-left">
                                                        <h6 class="title"><a
                                                                href="{% url "productdetail" product.category.slug product.slug %}">{{ product.name}}</a></h6>
                                                        <ul class="review-star">
                                                            <li class="fill"><i class="ion-android-star"></i>
                                                            </li>
                                                            <li class="fill"><i class="ion-android-star"></i>
                                                            </li>
                                                            <li class="fill"><i class="ion-android-star"></i>
                                                            </li>
                                                            <li class="fill"><i class="ion-android-star"></i>
                                                            </li>
                                                            <li class="empty"><i class="ion-android-star"></i>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="content-right">
                                                       <span class="product-list-price" id="current-product-price"><del></del>
                                                        {{ product.price }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            <!-- End Product Default Single Item -->
                                        </div>
                                </div>
                                <!-- Start List View Product -->
                             {% for product in productlist %}
                                <div class="tab-pane sort-layout-single" id="layout-list">
                                    <div class="row">
                                        <div class="col-12">
                                            <!-- Start Product Defautlt Single -->
                                            <div class="product-list-single product-color--golden">
                                                <a href="{% url "productdetail" product.category.slug product.slug %}"
                                                    class="product-list-img-link">
                                                    <img class="img-fluid"
                                                        src=""
                                                        alt="">
                                                    <img class="img-fluid"
                                                        src=""
                                                        alt="">
                                                </a>
                                                <div class="product-list-content">
                                                    <h5 class="product-list-link"><a
                                                            href="{% url "productdetail" product.category.slug product.slug %}">{{ product.name}}{% for m in media %}
                                                        <img src="{{ m.file.url }}" style="width: 200px">
                                                            {% endfor %}</a></h5>
                                                    <ul class="review-star">
                                                        <li class="fill"><i class="ion-android-star"></i></li>
                                                        <li class="fill"><i class="ion-android-star"></i></li>
                                                        <li class="fill"><i class="ion-android-star"></i></li>
                                                        <li class="fill"><i class="ion-android-star"></i></li>
                                                        <li class="empty"><i class="ion-android-star"></i></li>
                                                    </ul>
                                                    <span class="product-list-price" id="current-product-price"><del></del>
                                                        {{ product.price }}</span>
                                                    <p>{{ product.description}}</p>
                                                    <div class="product-action-icon-link-list">
                                                        <a
                                                            class="btn btn-lg btn-black-default-hover"  href="{% url "productdetail" product.category.slug product.slug %}">View Detail</a>
                                                        <a href="" data-bs-toggle="modal"
                                                            data-bs-target="#modalQuickview"
                                                            class="btn btn-lg btn-black-default-hover"><i
                                                                class="icon-magnifier"></i></a>
                                                        <a href=""
                                                            class="btn btn-lg btn-black-default-hover"><i
                                                                class="icon-heart"></i></a>
                                                        <a href=""
                                                            class="btn btn-lg btn-black-default-hover"><i
                                                                class="icon-shuffle"></i></a>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div> <!-- End Product Defautlt Single -->
                                        </div>
                                        </div>
                                    </div>
                                </div> <!-- End List View Product -->
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End Tab Wrapper -->
            <!-- Start Pagination -->
            <div class="page-pagination text-center" data-aos="fade-up" data-aos-delay="0">
                <ul>
                    <li><a class="active" href="#">1</a></li>
                    <li><a href="#"><i class="ion-ios-skipforward"></i></a></li>
                </ul>
            </div> <!-- End Pagination -->
        </div>
    </div>
</div>
</div> <!-- ...:::: End Shop Section:::... -->
{% endblock %}
