<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
    <center>
        <h1>CHANGE PASSWORD PAGE</h1>
        <h3>The submitted link is finally 3 minutes valid</h3>
        <hr>
    </center>
     <form action="{% url "newpassword" username token %}" method="post"  >
                    {% csrf_token %}
         <br>
                    <div class="default-form-box mb-20">
                         <label>New Password</label>
                         <input type="password" name="newpassword" required>
                    </div>
         <br>
                    <div class="default-form-box mb-20">
                         <label>New Confirm Password</label>
                         <input type="password" name="newconfirmpassword" required>
                    </div>
         <br>
                    <button class="btn btn-md btn-black-default-hover"
                                            type="submit"> Save </button>
     </form>
</body>
</html>
