{%extends 'base.html'%}
    {% block content %}
<br><br><br><br>
  <div class="error-section">
        <div class="container">
            <div class="row">
                <div class="error-form">
                    <h3 class="sub-title" data-aos="fade-up" data-aos-delay="200">{{ request.user.username}}</h3>
                    <p data-aos="fade-up" data-aos-delay="400">Please check your email and follow links .</p>
                    <p data-aos="fade-up" data-aos-delay="400">The submitted link is finally 3 minutes valid</p>
                </div>
            </div>
        </div>
    {% endblock %}
