<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CHANGE PASSWORD</title>
</head>
<body>
    <center>
        <h1>CHANGE PASSWORD, {{ user.username }}</h1>
        <hr>
        <p>please follow links: <a href="http://{{ host }}{% url "newpassword" username=user.username token=token %}">http://{{ host }}{% url "newpassword" username=user.username token=token %}</a></p>
        <hr>
        <p>The submitted link is finally 3 minutes valid</p>
    </center>
</body>
</html>
