{%extends 'base.html'%}
{% block content %}
{%load static%}

    <!-- ...:::: Start Account Dashboard Section:::... -->
    <div class="account-dashboard">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <!-- Nav tabs -->
                    <div class="dashboard_tab_button" data-aos="fade-up" data-aos-delay="0">
                        <ul role="tablist" class="nav flex-column dashboard-list">
                            <li><a href="#dashboard" data-bs-toggle="tab"
                                    class="nav-link btn btn-block btn-md btn-black-default-hover active">Dashboard</a>
                            </li>
                            <li> <a href="#orders" data-bs-toggle="tab"
                                    class="nav-link btn btn-block btn-md btn-black-default-hover">Orders completed</a></li>
                            <li><a href="#downloads" data-bs-toggle="tab"
                                    class="nav-link btn btn-block btn-md btn-black-default-hover">order incompleted</a></li>
                            <li><a href="#address" data-bs-toggle="tab"
                                    class="nav-link btn btn-block btn-md btn-black-default-hover">Addresses</a></li>
                            <li><a href="#account-details" data-bs-toggle="tab"
                                    class="nav-link btn btn-block btn-md btn-black-default-hover">Account details</a>
                            </li>
                            <li><a href="#activate" data-bs-toggle="tab"
                                    class="nav-link btn btn-block btn-md btn-black-default-hover">Activate Accountt</a>
                            </li>
                            <li><a href="#chamgepassword" data-bs-toggle="tab"
                                    class="nav-link btn btn-block btn-md btn-black-default-hover">Chamge Password</a>
                            </li>
                            <li><a href="{% url "logout" %}"
                                    class="nav-link btn btn-block btn-md btn-black-default-hover">logout</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content" data-aos="fade-up" data-aos-delay="200">
                        <div class="tab-pane fade show active" id="dashboard">
                            <h4>Dashboard </h4>
                            <p>From your account dashboard. you can easily check &amp; view your <a href="#">recent
                                    orders</a>, manage your <a href="#">shipping and billing addresses</a> and <a
                                    href="#">Edit your password and account details.</a></p>
                        </div>
                        <div class="tab-pane fade" id="orders">
                            <h4>Orders</h4>
                            <div class="table_page table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>status</th>
                                            <th>detail</th>
                                            <th>Total amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in order_completed %}
                                        <tr>
                                            <td>{{ i.ordered_date}}</td>
                                            <td><span class="success">{{ i.status }}</span></td>
                                            <td>{% for it in i.items.all %}<p>{{ it.item.name }}-->{{ it.item.price }}*{{it.quantity }}={{ it.get_final_price }}</p>{% endfor %}</td>
                                            <td><a href="" class="view">{{ i.get_total }}</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="downloads">
                            <h4>Downloads</h4>
                            <div class="table_page table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>status</th>
                                            <th>detail</th>
                                            <th>Total amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                         {% for io in order_incompleted %}
                                        <tr>
                                            <td>{{ io.ordered_date}}</td>
                                            <td><span class="success">{{ io.status }}</span></td>
                                            <td>{% for itl in io.items.all %}<p>{{ itl.item.name }}-->{{ itl.item.price }}*{{itl.quantity }}={{ itl.get_final_price }}</p>{% endfor %}</td>
                                            <td><a href="" class="view">{{ io.get_total }}</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="address">
                            <p>The following addresses will be used on the checkout page by default.</p>
                            <h5 class="billing-address">Billing address</h5>
                            <a href="#" class="view">Edit</a>
                            <p><strong>Bobby Jackson</strong></p>
                            <address>
                                Address: Your address goes here.
                            </address>
                        </div>
                        <div class="tab-pane fade" id="account-details">
                            <h3>Account details </h3>
                            <div class="login">
                                <div class="login_form_container">
                                    <div class="account_login_form">
                                        <form id="editprofile">
                                            {% csrf_token %}
                                        <h4  style="color: red"></h4>
                                            <div class="input-radio">
                                                <span class="custom-radio"><input type="radio" value="male" id="gender_male" name="gender" {% if user.gender == 'male' %}checked{% endif %}> Mr.</span>
                                                <span class="custom-radio"><input type="radio" value="female" id="gender_female" name="gender" {% if user.gender == 'female' %}checked{% endif %}> Mrs.</span>
                                            </div><br>
                                            <div class="default-form-box mb-20">
                                                <label>First Name</label>
                                                <input type="text" id="first_name" name="first_name" value={{ request.user.first_name }}>
                                            </div>
                                            <div class="default-form-box mb-20">
                                                <label>Last Name</label>
                                                <input type="text" id="last_name" name="last_name" value={{ request.user.last_name }}>
                                            </div>
                                            <div class="default-form-box mb-20">
                                                <label>Email</label>
                                                <input type="text" id="email" name="email" value={{ request.user.email }}>
                                            </div>
                                            <div class="default-form-box mb-20">
                                                <label>username</label>
                                                <input type="text" id="username" name="username" value={{ request.user.username }}>
                                            </div>
                                            <div class="default-form-box mb-20">
                                                <label>phone_number</label>
                                                <input type="text" id="phone_number" name="phone_number" value={{ request.user.phone_number }}>
                                            </div>
                                            <div class="default-form-box mb-20">
                                                <label>Birthdate</label>
                                                <input type="date" id="birthday" name="birthday">
                                            </div>
                                            <br>
                                            <br>
                                            <div class="save_button mt-3">
                                                <button class="btn btn-md btn-black-default-hover"
                                                    type="submit">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="tab-pane" id="activate">
                        {% if user.is_active %}
                            <p>your account was actived.</p>
                        {% else %}
                            <form action="{% url "activeprofile" %}" method="post">
                            {% csrf_token %}
                             <p>your account is not actived.please active now.</p>
                            <button class="btn btn-md btn-black-default-hover"
                                                    type="submit">ACTIVE ACCOUNT</button>
                            </form>
                        {% endif %}

                        </div>
                         <div class="tab-pane" id="chamgepassword">
                            <form   id="changePasswordForm">
                            {% csrf_token %}
                                <h3  style="color: red"></h3>
                             <div class="default-form-box mb-20">
                                 <label>Back Password</label>
                                 <input type="password"  id="backpassword" name="backpassword" required>
                             </div>
                            <div class="default-form-box mb-20">
                                 <label>New Password</label>
                                 <input type="password" id="newpassword" name="newpassword" required>
                            </div>
                                 <div class="default-form-box mb-20">
                                 <label>New Confirm Password</label>
                                 <input type="password" id="newconfirmpassword" name="newconfirmpassword" required>
                            </div>
                            <button class="btn btn-md btn-black-default-hover"
                                                    type="submit"> Save </button>
                            </form>
                             <br>
                             <form action="{% url "forgotpassword" %}" method="post">
                                 {% csrf_token %}
                                 <a href="{% url "forgotpassword" %}">
                                  <button class="btn btn-md btn-black-default-hover"
                                                    type="submit"> forgot password </button>
                             </a>
                             </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Account Dashboard Section:::... -->
{% endblock %}
{% block extra_scripts %}
  <script type="text/javascript">
        $(document).on("submit" , "#changePasswordForm" , function(e){
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "{% url "changepassword" %}",
                data:{
                    backpassword : $("#backpassword").val(),
                    newpassword :$("#newpassword").val(),
                    newconfirmpassword : $("#newconfirmpassword").val(),
                    csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
                },
                success: function(data){
                    $("h3").html(data);
                }
            })
        })
    </script>
      <script type="text/javascript">
        $(document).on("submit" , "#editprofile" , function(e){
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "{% url "editprofile" %}",
                data:{
                    gender : $("input[name='gender']:checked").val(),
                    first_name : $("#first_name").val(),
                    last_name : $("#last_name").val(),
                    email : $("#email").val(),
                    username : $("#username").val(),
                    phone_number : $("#phone_number").val(),
                    csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
                },
                success: function(data){
                    $("h4").html(data);
                }
            })
        })
    </script>
{% endblock extra_scripts %}
